<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8" />
	<title>MyProject</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="css/ie7.css" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div>
				<span>Trần Nguyễn Gia Huy</span>
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				<span class="tagline">Mỗi ngày là một món quà</span>
			</div>
			<ul>
				<li class="selected">
					<a href="index.html">Trang chủ</a>
				</li>
				<li>
					<a href="about.html">Giới thiệu</a>
				</li>
				<li>
					<a href="projects.html">Dự án thực hiện</a>
				</li>
				<li>
					<a href="news.html">Tin tức</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="body">
		<div class="header">
			<div>
				<img src="images/biking.jpg" alt="">
				<ul>
					<li>
						<a href="https://www.facebook.com/vinaenter.edu.vn" target="_blank">Facebook</a>
					</li>
					<li>
						<a href="https://www.facebook.com/vinatab.java.oop">Twitter</a>
					</li>
					<li>
						<a href="https://plus.google.com/u/0/116224150844139911881">Googleplus</a>
					</li>
					<li>
						<a href="http://vinaenter.edu.vn" target="_blank">VinaENTER EDU</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div class="section">
				<div class="article">
					<h2>Chào mừng bạn ghé thăm website Gia Huy</h2>
					<img src="images/logo-vinaenter.png" alt="">
					<p>
						Website chia sẻ thông tin, các bài học giá trị, và tất cả những gì mà Gia Huy học được mỗi ngày. 
						Hy vọng đây sẽ là kênh hữu ích để chúng ta cùng kết nối, giao lưu lẫn nhau. <br />
						Các công nghệ mới nhất về CNTT cũng được Gia Huy cập nhật tại website này, chúng ta hãy cũng nhau học tập,
						cùng nhau nghiên cứu để tạo nên một bước đợt phá để ngày hôm nay luôn khác ngay hôm qua :D
					</p>
				</div>
				<div class="aside">
					<b>Những Câu Nói Hay</b>
					<p>
						Nếu bạn luôn buồn phiền, hãy dùng hy vọng để chữa trị; hạnh phúc lớn nhất của nhân loại chính là biết hi vọng
					</p>
					<span class="author">- Khuyết danh</span>
				</div>
			</div>
		</div>
		<div class="footer">
			<div>
				<a href="doctors.html"><img src="images/friends.jpg" alt=""></a>
				<h3>Quan điểm tình bạn của Gia Huy</h3>
				<p>
					Có một người bạn khăng khít còn hơn là một người anh em ruột.
				</p>
			</div>
			<div>
				<a href="services.html"><img src="images/life.jpg" alt=""></a>
				<h3>Quan điểm về cuộc sống của Gia Huy</h3>
				<p>
					Hãy sống là chính mình, bình thường nhưng không tầm thường.
				</p>
			</div>
			<div>
				<a href="services.html"><img src="images/love.jpg" alt=""></a>
				<h3>Quan điểm về tình yêu của Gia Huy</h3>
				<p>
					Cuộc sống mà không có tình yêu thì không còn là cuộc sống nữa.
				</p>
			</div>
		</div>
	</div>
	
	
	<div id="footer">
		<div>
			<p>
				Một dự án khóa học lập trình tại <a href="http://vinaenter.edu.vn" title="đào tạo lập trình php, java">VinaENTER EDU</a>
			</p>
			<ul>
				<li>
					<a href="https://www.facebook.com/vinaenter.edu.vn" id="facebook">Code by: Trần Nguyễn Gia Huy - Lớp JAVA02</a>
				</li>
			</ul>
			<div>
				<span>Kết nối:</span>
				<a href="https://www.facebook.com/vinaenter.edu.vn" id="facebook">facebook</a>
				<a href="https://www.facebook.com/vinatab.java.oop" id="twitter">twitter</a>
				<a href="https://plus.google.com/u/0/116224150844139911881" id="googleplus">googleplus</a>
			</div>
		</div>
	</div>
</body>
</html>