<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>MyProject</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="css/ie7.css" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div>
				<span>Trần Nguyễn Gia Huy</span>
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				<span class="tagline">Mỗi ngày là một món quà</span>
			</div>
			<ul>
				<li>
					<a href="index.html">Trang chủ</a>
				</li>
				<li>
					<a href="about.html">Giới thiệu</a>
				</li>
				<li>
					<a href="projects.html">Dự án thực hiện</a>
				</li>
				<li class="selected">
					<a href="news.html">Tin tức</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="body">
	<!-- header -->
		<div class="section">
			<h2>Trang tin Gia Huy</h2>
			<p class="ptop">
				Cập nhật các tin tức mới nhất về hoạt động xã hội của Gia Huy hoặc những tin tức ngoài lề mà Gia Huy quan tâm:
			</p>
			
			<!-- begin block -->
			<div class="project-wrap">
				<h3 class="title">Cuộc thi ý tưởng Thiết kế website</h3>
				<div class="project-top">
					<a href="#"><img src="images/webhoa.jpg" alt=""></a>
					<div>
						<b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> 
						<small>Ngày đăng: 12/1/2016</small>
						<p class="preview_text">
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET. Trang web giúp người bán hàng có thể quản lý các loài hoa một cách dễ dàng. Qua website có thể tiếp cận khách hàng và cho phép họ đặt hàng trực tuyến trên web.						
						</p>
					</div>
				</div>
				<ul class="article">
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
				</ul>
				<div class="clr"></div>
			</div> <!-- end block -->
			
			<!-- begin block -->
			<div class="project-wrap">
				<h3 class="title">Web Font-end</h3>
				<div class="project-top">
					<a href="#"><img src="images/webhoa.jpg" alt=""></a>
					<div>
						<b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> 
						<small>Ngày đăng: 12/1/2016</small>
						<p class="preview_text">
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET. Trang web giúp người bán hàng có thể quản lý các loài hoa một cách dễ dàng. Qua website có thể tiếp cận khách hàng và cho phép họ đặt hàng trực tuyến trên web.						
						</p>
					</div>
				</div>
				<ul class="article">
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
				</ul>
				<div class="clr"></div>
			</div> <!-- end block -->
			
			<!-- begin block -->
			<div class="project-wrap">
				<h3 class="title">Web back-end</h3>
				<div class="project-top">
					<a href="#"><img src="images/webhoa.jpg" alt=""></a>
					<div>
						<b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> 
						<small>Ngày đăng: 12/1/2016</small>
						<p class="preview_text">
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET. Trang web giúp người bán hàng có thể quản lý các loài hoa một cách dễ dàng. Qua website có thể tiếp cận khách hàng và cho phép họ đặt hàng trực tuyến trên web.						
						</p>
					</div>
				</div>
				<ul class="article">
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
				</ul>
				<div class="clr"></div>
			</div> <!-- end block -->
			
			<!-- begin block -->
			<div class="project-wrap">
				<h3 class="title">Công nghệ PHP và JAVA</h3>
				<div class="project-top">
					<a href="#"><img src="images/webhoa.jpg" alt=""></a>
					<div>
						<b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> 
						<small>Ngày đăng: 12/1/2016</small>
						<p class="preview_text">
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET. Trang web giúp người bán hàng có thể quản lý các loài hoa một cách dễ dàng. Qua website có thể tiếp cận khách hàng và cho phép họ đặt hàng trực tuyến trên web.						
						</p>
					</div>
				</div>
				<ul class="article">
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> 
						<small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
					<li>
						<a href="#"><img src="images/webhoa.jpg" alt=""></a> <b><a href="news_detail.html">Gia Huy dự thi "Tài năng lập trình trẻ 2016"</a></b> <small>Ngày Đăng: 12/1/2016</small>
						<p>
							Website thực hiện bởi công nghệ JAVA JSP-SERVLET...
						</p>
						
					</li>
				</ul>
				<div class="clr"></div>
			</div> <!-- end block -->
			
		</div>
	</div>
	
	
	<div id="footer">
		<div>
			<p>
				Một dự án khóa học lập trình tại <a href="http://vinaenter.edu.vn" title="đào tạo lập trình php, java">VinaENTER EDU</a>
			</p>
			<ul>
				<li>
					<a href="https://www.facebook.com/vinaenter.edu.vn" id="facebook">Code by: Trần Nguyễn Gia Huy - Lớp JAVA02</a>
				</li>
			</ul>
			<div>
				<span>Kết nối:</span>
				<a href="https://www.facebook.com/vinaenter.edu.vn" id="facebook">facebook</a>
				<a href="https://www.facebook.com/vinatab.java.oop" id="twitter">twitter</a>
				<a href="https://plus.google.com/u/0/116224150844139911881" id="googleplus">googleplus</a>
			</div>
		</div>
	</div>
</body>
</html>