<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>MyProject</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="css/ie7.css" type="text/css">
	<![endif]-->
</head>
<body>
	<div id="header">
		<div>
			<div>
				<span>Trần Nguyễn Gia Huy</span>
				<a href="index.html" class="logo"><img src="images/logo.png" alt=""></a>
				<span class="tagline">Mỗi ngày là một món quà</span>
			</div>
			<ul>
				<li>
					<a href="index.html">Trang chủ</a>
				</li>
				<li>
					<a href="about.html">Giới thiệu</a>
				</li>
				<li class="selected">
					<a href="projects.html">Dự án thực hiện</a>
				</li>
				<li>
					<a href="news.html">Tin tức</a>
				</li>
				<li>
					<a href="contact.html">Liên hệ</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="body">
		<div class="content">
			<div id="blog">
				<h2>Các dự án đã thực hiện</h2>
				<ul>
					<li>
						<div class="article">
							<h3>Website báo chí VNTimes</h3>
							<p>
								Trang web báo chí Đà Nẵng, cập nhật những tin tức liên quan đến kinh tế, chính trị,  giải trí Việt Nam...								
							</p>
							<a href="http://vinaenter.edu.vn" class="more" target="_blank">Truy cập trang này</a>
						</div>
						<div class="stats">
							<a href="http://vinaenter.edu.vn" class="more" target="_blank"><img src="images/project.jpg" alt="" /></a>
						</div>
					</li>
					<li>
						<div class="article">
							<h3>Website báo chí VNTimes</h3>
							<p>
								Trang web báo chí Đà Nẵng, cập nhật những tin tức liên quan đến kinh tế, chính trị,  giải trí Việt Nam...								
							</p>
							<a href="http://vinaenter.edu.vn" class="more" target="_blank">Truy cập trang này</a>
						</div>
						<div class="stats">
							<a href="http://vinaenter.edu.vn" class="more" target="_blank"><img src="images/project.jpg" alt="" /></a>
						</div>
					</li>
					<li>
						<div class="article">
							<h3>Website báo chí VNTimes</h3>
							<p>
								Trang web báo chí Đà Nẵng, cập nhật những tin tức liên quan đến kinh tế, chính trị,  giải trí Việt Nam...								
							</p>
							<a href="http://vinaenter.edu.vn" class="more" target="_blank">Truy cập trang này</a>
						</div>
						<div class="stats">
							<a href="http://vinaenter.edu.vn" class="more" target="_blank"><img src="images/project.jpg" alt="" /></a>
						</div>
					</li>
					<li>
						<div class="article">
							<h3>Website báo chí VNTimes</h3>
							<p>
								Trang web báo chí Đà Nẵng, cập nhật những tin tức liên quan đến kinh tế, chính trị,  giải trí Việt Nam...								
							</p>
							<a href="http://vinaenter.edu.vn" class="more" target="_blank">Truy cập trang này</a>
						</div>
						<div class="stats">
							<a href="http://vinaenter.edu.vn" class="more" target="_blank"><img src="images/project.jpg" alt="" /></a>
						</div>
					</li>
				</ul>
				<ul class="paging">
					<li class="first">
						<a href="#">Trước</a>
					</li>
					<li class="selected">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li class="last">
						<a href="#">Sau</a>
					</li>
				</ul>
			</div>
			
			<div id="sidebar">
				<div class="testimonials">
					<h3>Những câu nói hay</h3>
					<ul>
						<li>
							<p>
								Nếu bạn luôn buồn phiền, hãy dùng hy vọng để chữa trị; hạnh phúc lớn nhất của nhân loại chính là biết hi vọng
							</p>
							<span class="author">- Khuyết danh</span>
						</li>
						<li>
							<p>
								Cuộc sống vẫn vậy nếu nó lấy đi thứ gì của bạn, thì thế nào nó cũng bù lại cho bạn thứ khác, chỉ có điều là bạn có chịu đi tìm hay không thôi
							</p>
							<span class="author">- Hạt giống tâm hồn</span>
						</li>
						<li>
							<p>
								Kẻ khốn cùng nhất trên thế giới này không phải là người không có một đồng xu dính túi, mà là kẻ không có nổi một ước mơ
							</p>
							<span class="author">- SơnTV</span>
						</li>
					</ul>
				</div>
				<div class="awards">
					<h3>Quảng cáo</h3>
					<a href="#" class="first">
						<img src="images/hehocgi.png" alt="" />
					</a>
					<a href="#" class="first">
						<img src="images/java.png" alt="" />
					</a>
				</div>
			</div>
			
			
		</div>
	</div>
	
	
	<div id="footer">
		<div>
			<p>
				Một dự án khóa học lập trình tại <a href="http://vinaenter.edu.vn" title="đào tạo lập trình php, java">VinaENTER EDU</a>
			</p>
			<ul>
				<li>
					<a href="https://www.facebook.com/vinaenter.edu.vn" id="facebook">Code by: Trần Nguyễn Gia Huy - Lớp JAVA02</a>
				</li>
			</ul>
			<div>
				<span>Kết nối:</span>
				<a href="https://www.facebook.com/vinaenter.edu.vn" id="facebook">facebook</a>
				<a href="https://www.facebook.com/vinatab.java.oop" id="twitter">twitter</a>
				<a href="https://plus.google.com/u/0/116224150844139911881" id="googleplus">googleplus</a>
			</div>
		</div>
	</div>
</body>
</html>